body {
  background-image: url(/img/fondo.png);
  background-repeat: repeat;
  background-origin: border-box;
  background-size: 100%;
}
.botonr{
  padding-top: 200px;
  top: 10px;
  margin-top: 15px; /* 50% of the line-height in a */
  text-align: center;
}
.botonr1{
  padding-top: 125px;
  top: 10px;
  margin-top: 15px; /* 50% of the line-height in a */
  text-align: center;
}

.botonr2{
  padding-top: 10px;
  top: 38%;
  margin-top: 15px; /* 50% of the line-height in a */
  text-align: center;
}

li {
  display: inline-block;
  list-style: none;
  margin-left: 5px;
}
li:first-child {
  margin-left: 0;
}
li a {
  background: #448F9D;

  display: block;
  font-family: Tenor Sans, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  line-height: 30px; /*margin-top of ul plus 2*/
  padding: 15px;
  border-radius: 4px;
}

a:hover {
  background-color: #2980b9;
  color: #ffffff;
  border: 1px solid #5fa9c5;
  padding: 16px;
}
/* IE7 hack, if you need or want
li { *display: inline; zoom: 1; }
*/

.dropbtn {
  background-color: rgba(17, 120, 161, 0.753);
  color: #ffffff;
  position: absolute;
  display: block;
  margin: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
 border: 2px;
 font-size: 25px;
}

.dropup {
  position: absolute;
  width: 0%;
  top: 90%;
  margin-top: 0px; /* 50% of the line-height in a */
  text-align: center;
  
  
}

.dropup-content {
  font-family: Tenor Sans, sans-serif;
  display: none;
  position: absolute;
  background-color: #448F9D;
  min-width: 10px;
  bottom: 0px;
  z-index: 1;
  
}

.dropup-content a {
  color: rgb(255, 255, 255);
  padding: 10px 6px;
  text-decoration: none;
  display: block;
}

  
.dropup-content a:hover {
  background-color:  #2980b9;
  font-family: Tenor Sans, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color:  #2980b9;
  color: #ffffff;

}


.logo{
  position: absolute;
  top: 0%;
  right: 560px;
  width: 200px;
  height: 175px;
}

.botonjugar{
  position: absolute;
  top: 5%;
  right: 20px;
  text-decoration: none;
}
